footer{
  background: #F9F9FB;
  height: 45vh;
}
#footer{
 display: grid;
 grid-template-columns: repeat(4,1fr);
 gap: 50px;
 margin-left: 10%
}
#footerImg{
  display: flex;
  justify-content: space-around;
 width: 20%;
margin-left: 40%;
}
.imgfooter img{
padding-top: 7%;
}
hr{
 width: 70%;
}
#footer h4{
font-family: Mulish;
font-style: normal;
font-weight: 300;
font-size: 18px;
color: #848484;
}
#plan{
  margin-bottom: 28%;
 padding-top: 3%;
}
#footer h2{
font-family: Mulish;
font-style: normal;
font-weight: bold;
font-size: 19px;
line-height: 60px;
color: #000000;
}